HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache

### Eclipse ###
**/target/
**/.com.livescore.forza.api.settings
**/.classpath
**/.project
**/.settings

### IntelliJ IDEA ###
.idea
**/.idea
*.iws
*.iml
*.ipr

### MAC ###
.DS_Store